<div class="container m-5">
      <h2>Leave Your Comments...</h2>

      <div class="mt-3 mb-1">
        <a href="/forum?show=1"><button type="button" class="btn btn-primary">Add A New Comment</button></a>
      </div>

      <% if (showAddPostInput) { %>
        <div>
          <form method="post" action="/add_post">
            <div class="form-floating">
              <textarea name="text" class="form-control" placeholder="Hello, World!" id="post_text" style="height: 100px"></textarea>
              <label for="post_text">✍️..</label>
            </div>
            <button type="submit" class="mt-3 btn btn-success">Submit</button>
            <input type="text" name="author" value="<%=username%>" hidden>
            <a href="/forum"><button type="button" class="mt-3 btn btn-secondary">Cancel</button></a>
          </form>
        </div>
      <% } %>

      <div class="mt-2 d-grid gap-2">
        <% for (post of posts) { %>
          <% console.log(post); %>
          <div class="m-1 p-3 bg-light blockquote border border-2 border-success rounded row">
            <div class="col">
              <%= post.text %>
              <footer class="mt-1 blockquote-footer"><%= post.author %></footer>
            </div>
            <% if (post.author == username) {%>
              <div class="col">
                <a href="/del_post?id=<%= post._id %>"><button type="button" class="btn btn-secondary">Delete</button></a>
              </div>
            <% } %>
          </div>
        <% } %>
      </div>
    </div>
